body{padding: 0px;margin: 0px;font-family: arial; padding-top: 30px;}
ul.animatedMenu{list-style: none; position: relative;}
ul.animatedMenu li{display: inline;  padding: 10px; cursor: pointer}
ul.animatedMenu li:first-child{padding-left:0px; padding: 10px;}
ul.animatedMenu li.movingMenu{position: absolute; height: 20px; margin-top: -12px; border: 1px solid #fff; border-radius: 5px; background-color: #1e566d;box-shadow: 2px 2px 2px #888888;}
ul.animatedMenu li.selectedMenuItem{position: absolute; height: 50px; margin-top: -37px; border: 1px solid #ccc; border-radius: 5px; background-color: green; left:30px; width: 50px;box-shadow: 2px 2px 2px #888888;}
ul.animatedMenu li a{z-index: 10; position: relative;padding: 10px; color: #fff; text-decoration: none}